h1{
    color: red;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  th, td {
    padding: 12px 15px;
  }
  
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #007f63;
  }
  
  /* Form.css */
.user-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px 0;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #007f63;
  }
  